// В этом файле должны быть стили для БЭМ-блока social, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.social {

  $block-name:                &; // #{$block-name}__

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  list-style: none;

  &__link-wrap {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.02);
    width: 37px;
    height: 37px;
    border-radius: 50%;

    #{$block-name}__link-wrap--fb & {
      // background-color: $gray;
    }

    // #{$block-name}__link-wrap--vk & {
    //   background-color: $color-vk;
    // }

    // #{$block-name}__link-wrap--tw & {
    //   background-color: $color-tw;
    // }

    // #{$block-name}__link-wrap--gh & {
    //   background-color: $color-gh;
    // }

    svg {
      display: block;
      width: 16px;
      height: 16px;
      fill: #81B03F;
    }
  }

  &__text {
    // @include hide-text;
  }
}
