// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;

$screen-xs:                   0 !default;
$screen-sm:                   480px !default;
$screen-md:                   768px !default;
$screen-lg:                   992px !default;
$screen-xl:                   1200px !default;
$screen-xxl:                  1800px !default;

$menu-desktop-width:          $screen-xl !default;
$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

$transition-time:             0.3s !default;

.main-nav {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  // настольный вид списка
  @media (min-width: $menu-desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;

    &--active {

      & > #{$block-name}__link {
        color: #413737;
      }
    }
  }

  &__link {
    display: block;
    padding: 0.5em;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    background-color: #fff;
    color: rgba(#413737, 0.5);

    &:hover,
    &:focus {
      text-decoration: none;
      color: #413737;
    }
  }
}
