
// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
    width: device-width;
  }
}

.page { // html

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__content {
    flex-grow: 1;
    background: #fff;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }

  &__head {
    margin-top: 60px;
    margin-bottom: 30px;
    @media (min-width: $screen-md) {
      max-width: calc(100% - 300px);
    }
  }
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    margin: 0 0 10px 0;
    @media (min-width: $screen-lg) {
      font-size: 36px;
    }
  }
  &__description {
    margin: 0;
    line-height: 1.4;
    font-size: 16px;
    @media (min-width: $screen-lg) {
      font-size: 24px;
    }
  }

  &--order {
    body {
      padding-top: 0;
    }
    #{$block-name}__content {
      margin-bottom: 0;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
*:focus {
  outline: none;
}

body {
  // Типографика проекта — в блоке typo
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  background-color: #fff;
  margin: 0;
  min-height: 100%;
  padding-top: 56px;
  
  @media (min-width: $screen-lg) {
    padding-top: 89px;
  }
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line  declaration-no-important
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// We love Safari
input[type='search'] {
  -webkit-appearance: textfield; // stylelint-disable-line  property-no-vendor-prefix
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation;
}

// We love EDGE! This is a browser!
svg {

  a &,
  button & {
    pointer-events: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}
.fw-700 {
  font-weight: 700;
}
.text-green {
  color: #0FC057;
}
.bg-gray {
  background-color: #FAFAFA;
}
.container {
  @include container;
}
.wave {
  img {
    display: block;
  }
  @media (max-width: ($screen-md - 1)) {
    display: none;
  }
}

.s-leaf {
  position: absolute;
  width: 100%;
  min-width: 1600px;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

.s1-left-leaf {
  background-repeat: no-repeat;
  background-image: url(../img/s1-left-leaf.png);
  background-position: top right;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 330px;
}
.s1-right-leaf {
  background-image: url(../img/s1-right-leaf.png);
  background-position: top left;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 470px;
}

.s2-left-leaf {
  background-repeat: no-repeat;
  background-image: url(../img/s2-left-leaf.png);
  background-position: top right;
  position: absolute;
  top: 30%;
  left: 0;
  width: 220px;
  height: 220px;
}
.s2-right-leaf-01 {
  background-image: url(../img/s2-right-leaf-01.png);
  background-position: top left;
  background-repeat: no-repeat;
  position: absolute;
  top: 20%;
  right: -2%;
  width: 220px;
  height: 220px;
}
.s3-left-leaf {
  background-image: url(../img/s3-left-leaf.png);
  background-position: top left;
  background-repeat: no-repeat;
  position: absolute;
  top: -200px;
  left: -6%;
  width: 300px;
  height: 300px;
}
.s3-right-leaf {
  background-image: url(../img/s3-right-leaf.png);
  background-position: top left;
  background-repeat: no-repeat;
  position: absolute;
  top: -300px;
  right: -6%;
  width: 220px;
  height: 220px;
}
.s5-left-leaf {
  background-image: url(../img/s5-left-leaf.png);
  background-position: top left;
  background-repeat: no-repeat;
  position: absolute;
  top: -55%;
  left: 40px;
  width: 100px;
  height: 100px;
}
.s5-right-leaf {
  background-image: url(../img/s5-right-leaf.png);
  background-position: top left;
  background-repeat: no-repeat;
  position: absolute;
  top: -85%;
  right: -2%;
  width: 220px;
  height: 270px;
}

.s8-left-leaf {
  background-image: url(../img/s8-left-leaf.png);
  background-position: top left;
  background-repeat: no-repeat;
  position: absolute;
  top: -245%;
  left: -65px;
  width: 300px;
  height: 300px;
}

.l-intro {
  background: linear-gradient(259.17deg, #F2FFD6 1.18%, #D5FFD9 97.82%);
  padding-top: 35px;
  position: relative;

  @media (min-width: $screen-md) {
    background: linear-gradient(259.17deg, #FBFFF1 1.18%, #EEFFF0 97.82%);
  }
  &__mobile-img {
    width: 100%;
    @media (min-width: $screen-md) {
      display: none;
    }
  }
  .container {
    // padding-top: 130px;
    padding-bottom: 60px;
    height: auto;
    position: relative;
    z-index: 5;
    @media (min-width: $screen-md) {
      background-image: url(../img/l-intro-img.png);
      background-repeat: no-repeat;
      background-position: center right;
      background-size: contain;
      height: 530px;
      padding-top: 130px;
      padding-bottom: 300px;
    }
    @media (min-width: $screen-lg) {
      height: 700px;
    }
  } 
}

.intro-box {
  text-align: center;
  @media (min-width: $screen-md) {
    padding-top: 0;
    text-align: left;
  }
  &__sub-title {
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #08CB57;
    margin: 0 0 5px 0;
    @media (min-width: $screen-md) {
      font-size: 20px;
      margin: 0 0 15px 0;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    color: #413737;
    margin: 0 0 20px 0;
    @media (min-width: $screen-md) {
      font-size: 42px;
      line-height: 51px;
      margin: 0 0 30px 0;
    }
  }
  &__text {
    font-size: 12px;
    line-height: 150%;
    max-width: 500px;
    margin: 0 0 30px 0;
    @media (min-width: $screen-md) {
      font-size: 20px;
    }
  }
  &__btn {
    width: 100%;
    @media (min-width: $screen-md) {
      width: auto;
    }
  }
}


.l-section {
  padding: 42px 0;
  position: relative;

  .container {
    position: relative;
    z-index: 5;
  }
  
  @media (min-width: $screen-lg) {
    padding: 88px 0;
  }

  &--order {
    position: relative;
    .wave {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 2;
    }
  }
  &--production {
    position: relative;
    .wave {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 2;
    } 
  }
  &--callback {
    position: relative;
    @media (min-width: $screen-lg) {
      padding: 88px 0 140px 0;
    }
    .wave {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 2;
    }
  }
}
.main-heading {
  margin-bottom: 25px;
  @media (min-width: $screen-lg) {
    margin-bottom: 55px;
  }
  &__text {
    margin: 0;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 700;

    @media (min-width: $screen-lg) {
      font-size: 42px;
    }
  }
  &__decor {
    background: linear-gradient(265.42deg, #08CB56 0.61%, #1FE16D 101.21%);
    border-radius: 10px;
    max-width: 70px;
    height: 10px;
    margin-top: 5px;
  }
}

.product-about {
  &__part {
    @include row;
    align-items: center;
  }
  &__img-wrap {
    @include col();
    @include col(md, 6);
    position: relative;
    @media (max-width: ($screen-md - 1)) {
      order: 1;
    }

    &.img-wrap-lime {
      .el-one {
        position: absolute;
        bottom: 85%;
        right: -10%;
        z-index: 3;

        @media (max-width:($screen-lg - 1)) {
          display: none;
        }
        @media (max-width:($screen-xl - 1)) {
          width: 100px;
        }
      }
    }
    &.img-wrap-mint {
      .el-one {
        position: absolute;
        bottom: 45%;
        left: -30%;
        z-index: 1;

        @media (max-width:($screen-lg - 1)) {
          display: none;
        }
        @media (max-width:($screen-xl - 1)) {
          width: 230px;
          bottom: 53%;
          left: -18%;
        }
      }
    }
    &.img-wrap-strawberry {
      .el-one {
        position: absolute;
        z-index: 1;
        top: 0;
        right: -19%;

        @media (max-width:($screen-lg - 1)) {
          display: none;
        }
        @media (max-width:($screen-xl - 1)) {
          width: 120px;
          right: -8%;
          top: 5%;
        }
      }
      .el-two {
        position: absolute;
        z-index: 3;
        bottom: -24%;
        right: -3%;

        @media (max-width:($screen-lg - 1)) {
          display: none;
        }
        @media (max-width:($screen-xl - 1)) {
          width: 140px;
          right: -8%;
          bottom: -18%;
        }
      }
    }
  }
  &__img {
    position: relative;
    z-index: 2;
  }
  &__caption {
    @include col();
    @include col(md, 6);
    @media (max-width: ($screen-md - 1)) {
      order: 2;
    }
    @media (min-width: $screen-xl) {
      padding-right: 75px;
      &:nth-child(2n) {
        padding-right: 15px;
        padding-left: 75px;
      }
    }

    h6 {
      margin: 0;
    }
  }
}

.production {
  &__list {
    @include row;
  }
  &__item {
    @include col();
    @include col(lg, 3);
    @include col(sm, 6);
    margin-bottom: 40px;

    p {
      font-size: 16px;
    }
  }
}

.team {
  &__list {
    @include row;
  }
  &__item {
    @include col();
    @include col(md, 4);
  }
}

.team-card {
  background: #FFFFFF;
  box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  padding: 27px;
  text-align: center;
  @media (min-width: $screen-lg) {
    padding: 40px;
  }
  &__img-wrap {
    width: 120px;
    height: 120px;
    margin: auto;
    margin-bottom: 30px;
    @media (min-width: $screen-lg) {
      width: 210px;
      height: 210px;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    @media (min-width: $screen-lg) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__text {
    font-size: 14px;
    @media (min-width: $screen-lg) {
      font-size: 16px;
    }
  }
}

.callback-wrap {
  position: relative;
  padding-bottom: 100px;

  .el-one {
    position: absolute;
    z-index: 1;
    right: -20%;
    bottom: -45px;

    @media (max-width:($screen-lg - 1)) {
      display: none;
    }
    @media (max-width:($screen-xl - 1)) {
      width: 230px;
      right: -10%;
      bottom: 60%;
    }
  }
  .el-two {
    position: absolute;
    z-index: 3;
    left: -85px;
    bottom: 0;

    @media (max-width:($screen-xl - 1)) {
      width: 340px;
      left: -160px;
      bottom: 20px;
    }
  }
}

.callback {
  position: relative;
  background: #FFF;
  border: 1px solid #DCDCDC;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 2;
  @media (max-width: ($screen-md - 1)) {
    padding: 20px;
    display: block;
    text-align: center;
  }

  &__caption {
    flex-grow: 1;
    h3 {
      margin: 0;
      font-size: 22px;
      @media (max-width: ($screen-md - 1)) {
        font-size: 16px;
      }
    }
  }
  &__action {}
}

.news {
  &__row {
    display: flex;
  }

  &__img-col {
    flex-shrink: 0;
    margin-right: 30px;
    @media (max-width:($screen-xl - 1)) {
      display: none;
    }
  }

  &__big-img {
    width: 370px;
    height: 100%;
    background-repeat: no-repeat;
  }
  
  &__list-col {}

  &__list {}

  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.news-card {
  @include row;

  &__img-wrap {
    @include col();
    @include col(md, 6);

    @media (max-width:($screen-md - 1)) {
      margin-bottom: 15px;
    }
  }

  // .news-card__img
  &__img {
    display: block;
    width: 100%;
  }

  // .news-card__body
  &__body {
    @include col();
    @include col(md, 6);
  }

  // .news-card__title
  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    font-family: $font-family--headings;
    @media (max-width: ($screen-md - 1)) {
      margin-bottom: 8px;
    }
  }

  // .news-card__caption
  &__caption {
    font-size: 16px;
    line-height: 1.5;
    @media (max-width: ($screen-md - 1)) {
      margin-bottom: 8px;
    }
  }

  // .news-card__more
  &__more {
    font-size: 16px;
    a {
      font-weight: 500;
      font-size: 16px;
      color: #6ACB9C;
      text-decoration: none;

      &:after {
        content: "";
        display: inline-block;
        width: 11px;
        height: 11px;
        margin-left: 8px;
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4.81249H8.36686L4.52719 0.972824L5.49998 0L11 5.50002L5.49998 11L4.52719 10.0272L8.36686 6.18751H0V4.81249Z' fill='%236ACB9C'/%3E%3C/svg%3E%0A");
      }

      &:hover {
        color:#0FC057;
      }
    }
  }
}

.partners {

  background: #FFFFFF;
  box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  margin-top: 40px;

  // .partners__row
  &__row {
    @include row;
  }

  // .partners__item
  &__item {
    @include col();
    @include col(lg, 2);
    @include col(sm, 4);
    @include col(xs, 6);

    img {
      filter: grayscale(100%);
      transition: all $transition-time;
    }

    &:hover {
      img {
        filter: grayscale(0%);
      }
    }
  }
}

.payment-icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 200px;
  padding: 6px 0;
  .item {}
}

.call-box {
  margin-bottom: 25px;
  text-align: right;
  &__phone {
    color: #81B03F;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  &__link {
    .icon {
      vertical-align: middle;
      display: inline-block;
      margin-right: 4px;
      fill: #81B03F;
    }
    a {
      display: inline-block;
      color: #81B03F;
      font-weight: 500;
      font-size: 18px;
      vertical-align: middle;
    }
  }
}

.blog {
  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }
  &__main {
    flex-grow: 1;
    max-width: 100%;
    padding-bottom: 40px;
    @media (min-width: $screen-lg) {
      margin-right: 30px;
      max-width: calc(100% - 300px);
    }
  }
  &__sidebar {
    max-width: 100%;
    @media (min-width: $screen-lg) {
      flex-shrink: 0;
      width: 270px;
    }
  }
  &__sidebar-title {
    margin-top: 0;
    @media (max-width: ($screen-lg - 1)) {
      position: relative;
      padding-left: 65px;
      margin-bottom: 25px;
      &:before {
        content: "";
        background: linear-gradient(265.42deg, #08cb56 0.61%, #1fe16d 101.21%);
        border-radius: 10px;
        width: 46px;
        height: 8px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.blog-post {
  padding-bottom: 40px;

  &__date {
    font-size: 14px;
    color: #7E7E7E;
    margin-bottom: 10px;
  }
  
  blockquote {
    padding: 20px 0 20px 23px;
    color: #7E7E7E;
    display: block;
    position: relative;
    p {
      margin: 0;
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 3px;
      height: 100%;
      background: #1ADC68;
      border-radius: 8px;
    }
  }

  img {
    width: 100%;
  }

  p,
  blockquote,
  img,
  ul,
  ol,
  li {
    line-height: 1.6;
    margin-bottom: 0;
    margin-top: 20px;
    
    @media (min-width: $screen-md) {
      margin-top: 30px;
    }
  }
}
.post-list {
  @media (max-width: ($screen-lg - 1)) {
    margin-right: -15px;
    margin-bottom: 30px;
  }
  &__item {
    margin-bottom: 45px;

    @media (max-width: ($screen-lg - 1)) {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
}
.post-card {
  &__head {
    margin-bottom: 10px;
    order: 2;
    @media (max-width: ($screen-lg - 1)) {
      margin-top: 10px;
    }
  }
  &__date {
    font-size: 14px;
    line-height: 17px;
    color: #7E7E7E;
    @media (max-width: ($screen-lg - 1)) {
      font-size: 10px;
    }
  }
  &__title {
    line-height: 1.4;
    a {
      color: #0FC057;
      font-weight: 500;
      font-size: 16px;
      display: block;
      &:hover {
        text-decoration: none;
      }
      @media (max-width: ($screen-lg - 1)) {
        font-size: 12px;
      }
    }
  }
  &__img-wrap {
    order: 1;
    border-radius: 6px;
    img {
      display: block;
      border-radius: 6px;
    }
  }

  @media (max-width: ($screen-lg - 1)) {
    display: flex;
    flex-direction: column;
  }
}

.share {
  background: #fff;
  padding: 40px 0;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 30px;
    @media (min-width: $screen-lg) {
      max-width: calc(100% - 300px);
    }
  }
  &__box-title {
    color: #0FC057;
    font-size: 18px;
    font-weight: 500;
  }
  &__box-list {}

  &--desktop {
    display: none;
    @media (min-width: $screen-lg) {
      display: block;
    }
  }
  &--mobile {
    display: block;
    padding: 0;

    @media (max-width: ($screen-md - 1)) {
      background: transparent;
    }

    .share__box {
      padding: 20px;
      @media (max-width: ($screen-md - 1)) {
        flex-direction: column;
        align-items: stretch;
        border: none;
        padding: 0;
      }
    }
    .share__box-title {
      @media (max-width: ($screen-md - 1)) {
        order: 2;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
      }
    }
    .share__box-list {
      @media (max-width: ($screen-md - 1)) {
        order: 1;
        background: #fff;
        border: 1px solid #DCDCDC;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 10px;
        margin-bottom: 15px;

        .social {
          justify-content: center;

        }
        .social__link-wrap {
          margin-left: 10px;
        }
      }
    }
    @media (min-width: $screen-lg) {
      display: none;
    }
  }
}

.order {
  padding: 0 0 60px 0;

  @media (max-width: ($screen-lg - 1)) {
    background: #FAFAFA;
    padding-bottom: 170px;
    padding-top: 70px;
  }

  &__head {
    margin-bottom: 25px;
    @media (min-width: $screen-lg) {
      margin-bottom: 55px;
    }
  }
  &__out {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    color: #969696;
    text-decoration: none;
    margin: 20px 0;
    display: inline-block;

    &:before {
      content: "";
      width: 15px;
      height: 15px;
      display: inline-block;
      margin-right: 6px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.391 7.07578H4.147L9.30703 1.91575L7.99972 0.608398L0.608398 7.99972L7.99972 15.391L9.30703 14.0837L4.147 8.92362H15.391V7.07578Z' fill='%23969696'/%3E%3C/svg%3E%0A");
    }
  }
  &__title {
    margin: 0;
    font-size: 24px;
    line-height: 51px;
    font-weight: 700;

    @media (min-width: $screen-lg) {
      font-size: 42px;
    }
  }
  &__title-decor {
    background: linear-gradient(265.42deg, #08CB56 0.61%, #1FE16D 101.21%);
    border-radius: 10px;
    max-width: 70px;
    height: 10px;
    margin-top: 5px;
  }
  &__row {
    @include row;
  }
  &__main {
    @include col();
    @include col(xl, 7);
  }
  &__basket {
    @include col();
    @include col(xl, 5);

    @media (max-width: ($screen-lg - 1)) {
      display: none;
    }
  }
  &__box {

  }
  &__box-title {
    font-size: 24px;
  }

  &__mobile-action {
    background: #fff;
    padding: 40px 0;
    border-top: 1px solid #DCDCDC;
    box-shadow: 0px -3px 16px rgba(0, 0, 0, 0.08);
    border-radius: 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    .container {
      display: flex;
      align-items: center;
      @media (max-width: ($screen-md - 1)) {
        flex-direction: column;
        align-items: stretch;
      }
    }
    .b-order-price {
      display: block;
      white-space: nowrap;
      margin-right: 45px;
      margin-bottom: 0;
      @media (max-width: ($screen-md - 1)) {
        display: flex;
        margin-right: 0;
        margin-bottom: 15px;
        .b-order-price__title,
        .b-order-price__price {
          font-weight: 700;
        }
      }
    }
    @media (max-width: ($screen-lg - 1)) {
      display: block;
    }
    @media (max-width: ($screen-md - 1)) {
      padding: 30px 0;
    }
  }
}
.order-basket-toggler {
  display: none;
  background: #fff;
  padding: 20px 0;
  box-shadow: 0px 4px 8px rgba(61, 61, 61, 0.05);
  z-index: 1021;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  .container {
    align-items: center;
    display: flex;
  }

  @media (max-width: ($screen-lg - 1)) {
    display: block;
  }

  .basket-icon {
    position: relative;
    margin-right: 17px;
    padding: 0 6px;

    .basket-value {
      font-family: "Montserrat", "Arial", sans-serif;
      position: absolute;
      width: 15px;
      height: 15px;
      background: #fff;
      -webkit-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.02);
      box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.02);
      border-radius: 50%;
      top: -8px;
      left: 4px;
      font-weight: 600;
      font-size: 10px;
      line-height: 15px;
      text-align: center;
      color: #0FC057;
      z-index: 2;
    }
    .icon {

    }
  }

  &__title {
    font-weight: 600;
    font-size: 14px;
    position: relative;
    padding-right: 25px;

    &:after {
      content:"";
      width: 12px;
      height: 7px;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 6px;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.2351 6.97971C6.03831 6.97971 5.84156 6.90282 5.69152 6.74936L0.970363 1.91796C0.670035 1.61062 0.670035 1.11233 0.970363 0.805116C1.27057 0.497904 1.7574 0.497904 2.05775 0.805116L6.2351 5.08021L10.4125 0.805266C10.7128 0.498053 11.1996 0.498053 11.4998 0.805266C11.8002 1.11248 11.8002 1.61077 11.4998 1.91811L6.77867 6.74951C6.62857 6.90299 6.43181 6.97971 6.2351 6.97971Z' fill='%23413737'/%3E%3C/svg%3E");
    }
  }

  &.active {
    .order-basket-toggler__title {
      &:after {
        transform: rotate(-180deg);
      }
    }
  }
}

.delivery {

  @media (min-width: $screen-lg) {
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 30px 25px;
  }

  &__row {
    @include row;
  }
  &__item {
    @include col();
    @include col(sm, 6);
    @include col(md, 3);
    @include col(lg, 6);

    margin-bottom: 30px;
    @media (min-width: $screen-lg) {
      margin-bottom: 15px;
    }
    .field-radio {
      margin-bottom: 0;
    }
  }
}
.user-contact {

  .field-text {
    margin-bottom: 25px;
  }

  @media (min-width: $screen-md) {
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 30px 25px;
  }
}
.payment {
  
  @media (min-width: $screen-lg) {
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 30px 25px;
  }

  &__row {
    @include row;
  }
  &__item {
    @include col();
    @include col(sm, 12);
    @include col(md, 6);
    @include col(lg, 6);
    @include col(xl, 12);
  }
}
// .basket {
//   background: #FFFFFF;
//   border: 1px solid #DCDCDC;
//   box-sizing: border-box;
//   border-radius: 6px;
//   padding: 30px 25px;
// }

.field-2row {
  @include row;

  .field-col {
    @include col();
    @include col(md, 6);
  }
}

.basket {
  &__list {
    background: #FAFAFA;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 6px;
  }
  &__item {
    padding: 30px 20px;
    &:not(:last-child) {
      border-bottom: 1px solid #DCDCDC;
    }
  }

  .b-btn {
    margin-bottom: 12px;
  }

  .сancel-link {
    color: #FFAFAF;
    text-decoration: none;
    display: block;
    padding: 8px 12px;
    text-align: center;
  }
}
.b-product {
  display: flex;
  &__view {
    flex-shrink: 0;
  }
  &__remove {
    font-weight: 500;
    font-size: 14px;
    color: #FFAFAF;
    text-decoration: none;
  }
  &__body {
    flex-grow: 1;
    padding: 0 10px;
  }
  &__name {
    font-weight: 500;
    font-size: 14px;
  }
  &__desc {
    font-size: 14px;
    font-weight: 500;
    color: #9D9999;
  }
  .field-num {
    margin-top: 6px;
  }
  &__price {
    span {
      font-weight: 600;
      font-size: 16px;
      white-space: nowrap;
    }
  }
}

.b-order-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  &__title {
    font-weight: 500;
    font-size: 16px;
  }
  &__price {
    font-weight: 600;
    font-size: 20px;
  }
}
.btn.b-btn {
  width: 100%;
  padding: 16px 25px;
}

.s-order {
  &__nav {
    display: flex;
    margin-bottom: 50px;

    @media (max-width:($screen-lg - 1)) {
      display: none;
    }
  }
  &__nav-item {
    margin-right: 30px;

    &.active {
      a {
        border-color: #1ADC68;
        transform: translateY(-15px);
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 170px;
      height: 68px;
      background: #FFFFFF;
      border: 1px solid #fff;
      box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.02);
      border-radius: 6px;
      text-decoration: none;
      position: relative;
      transition: all 0.2s ease-in-out;

      span {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #675F5F;
        padding-right: 20px;
        position: relative;
        z-index: 2;
      }

      &:hover {
        transform: translateY(-15px);
      }
    }

    .nav-item-img {
      position: absolute;
      width: 95px;
      height: 80px;
      left: -25px;
      top: 2px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  &__row {
    @include row;
  }
  &__view {
    @include col();
    @include col(lg, 4);

    .view-inner {
      @include row;
      .view-img-wrap,
      .view-select-wrap {
        @include col();
        @include col(md, 6);
        @include col(lg, 12);
        margin-bottom: 10px;
      } 
    }
    .view-select-wrap {
      @media (min-width: $screen-lg) {
        display: none;
      }
    } 
    .view-img-box {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 85px;
      background-color: #fff;
      box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.02);
      border-radius: 6px;
      @media (min-width: $screen-lg) {
        width: 300px;
        height: 345px;
      }
      &__img {
        position: absolute;
        width: 138px;
        height: 164px;
        top: 5px;
        left: 0;
        
        @media (min-width: $screen-lg) {
          top: 25px;
          left: -20px;
          width: 309px;
          height: 365px;
        }
      }
      &__title {
        font-weight: 600;
        font-size: 18px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 1;
        padding-right: 60px;
        
        @media (min-width: $screen-lg) {
          display: none;
        }
      }
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;

    @media (min-width: $screen-xl) {
      font-size: 18px;
    }
  }
  &__body {
    @include col();
    @include col(lg, 8);
  }
  &__caption {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .item {
      p {
        font-size: 16px;
        margin: 0;
      }

      @media (max-width:($screen-md - 1)) {
        max-width: 300px;
        
        p {
          background: #fff;
          box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.02);
          border-radius: 6px;
          padding: 14px 8px;
          margin-right: 30px;
          font-weight: 500;
          font-size: 11px;
          line-height: 1.6;
          color: #7E7E7E;
        }
      }
    }
  }
  &__fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .field-item {
    }
  }
  &__fields-desktop {
    display: none;
    justify-content: space-between;
    margin-bottom: 30px;
    .field-item {
      &:first-child {
        margin-right: 30px;
      }
    }
    @media (min-width: $screen-lg) {
      display: flex;
    }
  }
  &__fields-mobile {
    @include row;
    margin-bottom: 30px;
    .field-item {
      @include col();
      @include col(md, 6);
    }
    @media (min-width: $screen-lg) {
      display: none;
    }
  }
  &__action {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-top: 1px solid #DCDCDC;
    padding-top: 30px;
    padding-bottom: 30px;

    .btn {
      @media (min-width: $screen-md) {
        min-width: 330px;
      }
    }
  }
  &__price {
    font-weight: bold;
    font-size: 18px;
    margin-right: 80px;
    span {
      font-size: 22px;
    }
  }
}

.nice-select-wrap {
  margin-bottom: 15px;
  .nice-select {
    float: none;
    line-height: 50px;
    border-color: #1ADC68;
    border-radius: 4px;
    height: 50px;
    &:before {
      content: "";
      width: 48px;
      height: 48px;
      background: #1ADC68;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.nice-select {
  &:after {
    content: '';
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    display: block;
    height: 12px;
    width: 12px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 18px;
    top: 45%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
  }
}

.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}

.video-content-bg {
	position: relative;
	width: 100%;
	padding-bottom: 50%;
	background-size: cover;
	background-position: center center;
  background-repeat: no-repeat;
  border-radius: 6px;
}

.video-play-button {
  	position: absolute;
  	z-index: 3;
  	top: 50%;
  	left: 50%;
  	transform: translateX(-50%) translateY(-50%);
  	box-sizing: content-box;
  	display: block;
  	width: 32px;
  	height: 44px;
  	border-radius: 50%;
  	padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  	content: "";
  	position: absolute;
  	z-index: 0;
  	left: 50%;
  	top: 50%;
  	transform: translateX(-50%) translateY(-50%);
  	display: block;
  	width: 80px;
  	height: 80px;
  	background: #fff;
  	border-radius: 50%;
  	animation: pulse-border 1.5s cubic-bezier(.77, 0, .175, 1) infinite;
}

.video-play-button:after {
  	content: "";
  	position: absolute;
  	z-index: 1;
  	left: 50%;
  	top: 50%;
  	transform: translateX(-50%) translateY(-50%);
  	display: block;
  	width: 80px;
  	height: 80px;
  	background: #fff;
  	border-radius: 50%;
}

.video-play-button span {
	display: block;
  position: absolute;
  top: 27px;
  left: 29px;
  z-index: 3;
  background-image: url(../img/play.svg);
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes pulse-border {
	
	0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
	  opacity: 1;
	}
	
	100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
	  opacity: 0;
	}
}


.overlay-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.overlay-box {
  position: absolute;
  background: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(100%);
  z-index: 3;

  &.gray {
    background: #FAFAFA;
  }
}

.section-basket {
  position: fixed;
  width: 373px;
  z-index: 10;
  right: 0;
  top: 120px;
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  box-sizing: border-box;
  box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.02);
  border-radius: 5px 0px 0px 6px;
  transition: transform 0.4s ease-in-out;

  @media (max-width:($screen-lg - 1)) {
    display: none;
  }

  &:not(.opened) {
    transform: translateX(100%);
  }
  &:not(.empty) {
    .section-basket__footer {
      > .btn {
        display: none;
      }
    }
    .section-basket__action {
      display: block;
    }
  }
  &.empty {
    .section-basket__body {
      &:before {
        content: "Корзина пуста";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #DCDCDC;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }

  &__header {
    padding: 20px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #DCDCDC;
  }
  &__title {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
    font-size: 24px;
  }
  &__close {
    width: 22px !important;
    height: 22px !important;
  }
  &__body {
    height: 320px;
    overflow-x: hidden;
    position: relative;

    .basket__list {
      border: none;
      border-radius: 0;
      position: relative;
    } 
  }
  &__footer {
    padding: 20px 18px;
    border-top: 1px solid #DCDCDC;
    box-shadow: 0px -3px 16px rgba(0, 0, 0, 0.08);

    .btn {
      width: 100%;
    }
  }

  &__action {
    display: none;

    .action-price {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      &__title {
        font-weight: 500;
        font-size: 16px;
      }
      &__value {
        font-weight: 600;
        font-size: 20px;
        white-space: nowrap;
      }
    }
    .action-btns {
      display: flex;
      .btn {
        width: 50%;
        padding: 15px;
        font-size: 14px;

      }
      .cancel {
        background: transparent;
        color: #FFAFAF;
        text-decoration: none;
        font-size: 14px;
        padding: 15px 15px;
        margin-left: auto;
      }
    }
  }
} 









