
// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
    width: device-width;
  }
}

.page { // html

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // Типографика проекта — в блоке typo
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  background-color: #fff;
  margin: 0;
  min-height: 100%;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line  declaration-no-important
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// We love Safari
input[type='search'] {
  -webkit-appearance: textfield; // stylelint-disable-line  property-no-vendor-prefix
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation;
}

// We love EDGE! This is a browser!
svg {

  a &,
  button & {
    pointer-events: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}
.fw-700 {
  font-weight: 700;
}
.text-green {
  color: #0FC057;
}
.bg-gray {
  background-color: #FAFAFA;
}
.container {
  @include container;
}
.wave {
  img {
    display: block;
  }
  @media (max-width: ($screen-md - 1)) {
    display: none;
  }
}
.l-intro {
  background: linear-gradient(259.17deg, #F2FFD6 1.18%, #D5FFD9 97.82%);
  padding-top: 35px;
  @media (min-width: $screen-md) {
    background: linear-gradient(259.17deg, #FBFFF1 1.18%, #EEFFF0 97.82%);
  }
  .container {
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    // padding-top: 130px;
    padding-bottom: 60px;
    height: auto;
    @media (min-width: $screen-md) {
      height: 530px;
      padding-top: 130px;
      padding-bottom: 300px;
    }
    @media (min-width: $screen-lg) {
      height: 830px;
    }
  } 
}

.intro-box {
  text-align: center;
  padding-top: 200px;
  @media (min-width: $screen-md) {
    padding-top: 0;
    text-align: left;
  }
  &__sub-title {
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #08CB57;
    margin: 0 0 5px 0;
    @media (min-width: $screen-md) {
      font-size: 20px;
      margin: 0 0 15px 0;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    color: #413737;
    margin: 0 0 20px 0;
    @media (min-width: $screen-md) {
      font-size: 42px;
      line-height: 51px;
      margin: 0 0 30px 0;
    }
  }
  &__text {
    font-size: 12px;
    line-height: 150%;
    max-width: 500px;
    margin: 0 0 30px 0;
    @media (min-width: $screen-md) {
      font-size: 20px;
    }
  }
  &__btn {
    width: 100%;
    @media (min-width: $screen-md) {
      width: auto;
    }
  }
}


.l-section {
  padding: 42px 0;
  
  @media (min-width: $screen-lg) {
    padding: 88px 0;
  }

  &--order {
    position: relative;
    .wave {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 2;
    }
  }
  &--production {
    position: relative;
    .wave {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 2;
    } 
  }
  &--callback {
    position: relative;
    .wave {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 2;
    }
  }
}
.main-heading {
  margin-bottom: 25px;
  @media (min-width: $screen-lg) {
    margin-bottom: 55px;
  }
  &__text {
    margin: 0;
    font-size: 24px;
    line-height: 51px;
    font-weight: 700;

    @media (min-width: $screen-lg) {
      font-size: 42px;
    }
  }
  &__decor {
    background: linear-gradient(265.42deg, #08CB56 0.61%, #1FE16D 101.21%);
    border-radius: 10px;
    max-width: 70px;
    height: 10px;
    margin-top: 5px;
  }
}

.product-about {
  &__part {
    @include row;
    align-items: center;
  }
  &__img-wrap {
    @include col();
    @include col(md, 6);
    @media (max-width: ($screen-md - 1)) {
      order: 1;
    }
  }
  &__caption {
    @include col();
    @include col(md, 6);
    @media (max-width: ($screen-md - 1)) {
      order: 2;
    }
  }
}

.production {
  &__list {
    @include row;
  }
  &__item {
    @include col();
    @include col(lg, 3);
    @include col(sm, 6);
    margin-bottom: 40px;

    p {
      font-size: 16px;
    }
  }
}

.team {
  &__list {
    @include row;
  }
  &__item {
    @include col();
    @include col(md, 4);
  }
}

.team-card {
  background: #FFFFFF;
  box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  padding: 27px;
  text-align: center;
  @media (min-width: $screen-lg) {
    padding: 40px;
  }
  &__img-wrap {
    width: 120px;
    height: 120px;
    margin: auto;
    margin-bottom: 30px;
    @media (min-width: $screen-lg) {
      width: 210px;
      height: 210px;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    @media (min-width: $screen-lg) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__text {
    font-size: 14px;
    @media (min-width: $screen-lg) {
      font-size: 16px;
    }
  }
}

.callback {
  background: #FFF;
  border: 1px solid #DCDCDC;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @media (max-width: ($screen-md - 1)) {
    padding: 20px;
    display: block;
    text-align: center;
  }

  &__caption {
    flex-grow: 1;
    h3 {
      margin: 0;
      @media (max-width: ($screen-md - 1)) {
        font-size: 16px;
      }
    }
  }
  &__action {}
}

.news {
  &__row {
    display: flex;
  }

  &__img-col {
    flex-shrink: 0;
    margin-right: 30px;
    @media (max-width:($screen-xl - 1)) {
      display: none;
    }
  }

  &__big-img {
    width: 370px;
    height: 100%;
    background-repeat: no-repeat;
  }
  
  &__list-col {}

  &__list {}

  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.news-card {
  @include row;

  &__img-wrap {
    @include col();
    @include col(md, 6);

    @media (max-width:($screen-md - 1)) {
      margin-bottom: 15px;
    }
  }

  // .news-card__img
  &__img {
    display: block;
    width: 100%;
  }

  // .news-card__body
  &__body {
    @include col();
    @include col(md, 6);
  }

  // .news-card__title
  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    font-family: $font-family--headings;
    @media (max-width: ($screen-md - 1)) {
      margin-bottom: 8px;
    }
  }

  // .news-card__caption
  &__caption {
    font-size: 16px;
    line-height: 1.5;
    @media (max-width: ($screen-md - 1)) {
      margin-bottom: 8px;
    }
  }

  // .news-card__more
  &__more {
    font-size: 16px;
    a {
      font-weight: 500;
      font-size: 16px;
      color: #6ACB9C;
      text-decoration: none;

      &:after {
        content: "";
        display: inline-block;
        width: 11px;
        height: 11px;
        margin-left: 8px;
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4.81249H8.36686L4.52719 0.972824L5.49998 0L11 5.50002L5.49998 11L4.52719 10.0272L8.36686 6.18751H0V4.81249Z' fill='%236ACB9C'/%3E%3C/svg%3E%0A");
      }

      &:hover {
        color:#0FC057;
      }
    }
  }
}

.partners {

  background: #FFFFFF;
  box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  margin-top: 40px;

  // .partners__row
  &__row {
    @include row;
  }

  // .partners__item
  &__item {
    @include col();
    @include col(lg, 2);
    @include col(sm, 4);

    img {
      filter: grayscale(100%);
      transition: all $transition-time;
    }

    &:hover {
      img {
        filter: grayscale(0%);
      }
    }
  }
}

.payment-icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 200px;
  padding: 6px 0;
  .item {}
}

.call-box {
  margin-bottom: 25px;
  text-align: right;
  &__phone {
    color: #81B03F;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  &__link {
    .icon {
      vertical-align: middle;
      display: inline-block;
      margin-right: 4px;
    }
    a {
      display: inline-block;
      color: #81B03F;
      font-weight: 500;
      font-size: 18px;
      vertical-align: middle;
    }
  }
}








