// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  background: #FAFAFA;
  padding: 50px 0;

  &__row {
    @include row;
  }
  &__col {
    @include col();
    @include col(lg, 3);
    margin-bottom: 30px;

    &.right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .social__link-wrap {
      margin-right: 0;
      margin-left: 30px;
    }
  }
  &__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #DCE9EF;
    padding-top: 27px;
    @media (max-width: ($screen-md - 1)) {
      display: none;
    }

    li {
      margin-right: 50px;
    }

    a {
      display: block;
      text-decoration: none;
      color: #413737;
      font-size: 14px;
      &:hover {
        color: #262626;
      }
    }
  }
}

.footer-box {
  &__header {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  &__body {
    font-size: 16px;
  }
}
