// В этом файле должны быть стили для БЭМ-блока close, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #08CB56;

.close {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  user-select: none;
  cursor: pointer;
  @media (min-width: $screen-md) {
    width: 30px;
    height: 30px;
  }

  > span {
    display: inline-block;
    width: 100%;
    height: 2px;
    background: transparent;
    position: relative;
    @media (min-width: $screen-md) {
      height: $toggler-part-height;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: $toggler-part-bg-color;
      transform-origin: 50% 50%;
      @media (min-width: $screen-md) {
        height: $toggler-part-height;
      }
    }

    &:before {
      transform: rotate3d(0, 0, 1, 45deg);
    }

    &:after {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }
}
